<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partfolia
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
     integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
     crossorigin="anonymous">
     
     <link rel="stylesheet" href="/porfolia.css">
</head>
<body>
    <!--                    left box                  -->
    <!--                    left box                  -->
    <!--                    left box                  -->
    <!--                    left box                  -->
    <!--                    left box                  -->

<div class="parent">
    <div class="left_box" >
    <!--                    1 box                  -->
        <div class="l_box box_01" >
            <img src="/icons/usermini.png" alt="">
            <h1><%=user.name%></h1>
            <h2><%=user.nickname%></h2>
            <div class="user_icons" >
                <a href=""><img src="/icons/Facebook.jpeg" alt="">
</a>                <a href=""><img src="/icons/Instagram.jpeg" alt=""></a>
                <a href=""><img src="/icons/Twitter.jpeg" alt="">
 </a>               <a href=""><img src="/icons/Linkeding.jpeg" alt=""></a>
                <a href=""><img src="/icons/Youtube.jpeg" alt="">
 </a>               <a href=""><img src="/icons/Dribbble.jpeg" alt="">
</a>            </div>
            <div class="margener" ></div>
        </div>
    <!--                    2 box                  -->
    <div class="l_box box_02" > 
        <div class="keys" ><span> Age: </span></div>
        <div class="keys" ><span> Residence: </span></div>
        <div class="keys" ><span> Freelande: </span></div>
        <div class="keys" ><span> Address :</span></div>

        <div class="value" >
            <div class="value_01" ><%=user.age%></div>
            <div class="value_02" ><%=user.residence%></div>
            <div class="value_03" ><%=user.freelance%></div>
            <div class="value_04" ><%=user.address%></div>
        </div>
        <div class="margener" ></div>

    </div>
    <!--                    3 box                  -->
    <div class="l_box box_03" >
        <p>Language</p>
        <div><%=user.language[0]%></div>
        <div><%=user.language[1]%></div>
        <div><%=user.language[2]%></div>
    </div>
    <div class="level" >
        <div>100%</div>
        <div>80%</div>
        <div>70%</div>
    </div>
    <div class="margener_4" ></div>

    <!--                    4 box                  -->
    <div class="l_box box_04" >
    <p>Skills</p>
    <div><%=user.skills[0]%></div>
    <div><%=user.skills[1]%></div>
    <div><%=user.skills[2]%></div>
    <div><%=user.skills[3]%></div>
    <div><%=user.skills[4]%></div>
    </div>
    <div class="level_4">
        <div>90%</div>
        <div>85%</div>
        <div>80%</div>
        <div>75%</div>
        <div>85%</div>
    </div>
    
    <!--                    5 box                  -->
    <div class="margener_5" ></div>
    <div class="l_box box_05" >
        <p>Extra Skills</p>
            
        <div class="extraskills">
<div><img src="/icons/Icons.png" alt=""><%=user.extra_skills[0]%></div>
<div><img src="/icons/Icons.png" alt=""><%=user.extra_skills[1]%></div>
<div><img src="/icons/Icons.png" alt=""><%=user.extra_skills[2]%></div>
        </div>
    </div>
    </div>



    <!--                    middel box                  -->
    <!--                    middel box                  -->
    <!--                    middel box                  -->
    <!--                    middel box                  -->
    <!--                    middel box                  -->
    <div class="middle_box" >
<p class="middle_text01" >Doctor neurologists
    in OHSU Hospital</p>
<p class="middle_text02" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
<button class="middel_btn" >HIRE ME -></button>
<img src="/icons/user.png" alt="">

</div>
    <!--                    middel text box                  -->

    <div class="m_b_test">
        <p class="m_b_test01" >My services</p>
        <p class="m_b_test02" >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
    </div>
    <!--                    middel bottom box                  -->

    <div class="m_b_box">
        <div class="mbb mbox01" >
            <img src="/icons/Icons_game-development.png" alt="">
            <h1>Web Development</h1>
            <p>Blog, E-commerce</p>
        </div>
        <div class="mbb mbox02" >
            <img src="/icons/Icons_illustration.png" alt="">
            <h1>UI/UX Design</h1>
            <p>Mobile app, website design</p>
        </div>
        <div class="mbb mox03" >
            <img src="/icons/Icons_Microphone.png" alt="">
            <h1>Sound Design</h1>
            <p>Voice Over, Beat Making</p>
        </div>
        <div class="mbb mox04" >
            <img src="/icons/Icons_game-development.png" alt="">
            <h1>Game Design</h1>
            <p>Character Design, Props & Objects</p>
        </div>
        <div class="mbb mox05" >
            <img src="/icons/Icons_Photographer-1.png" alt="">
            <h1>Photography</h1>
            <p>Portrait, Product Photography</p>
        </div>
        <div class="mbb mox06" >
            <h1>Advertising</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p>
            <a href="">ORDER NOW  ></a>
        </div>
    </div>
    
    <!--                    right box                  -->
    <!--                    right box                  -->
    <!--                    right box                  -->
    <!--                    right box                  -->
    <!--                    right box                  -->

    <div class="right_box" >
        <div class="r_b_icon" >
            <a href=""><img src="/icons/Contrast.png" alt=""></a>
            <div class="r_b_icons" >
            <a href=""><img src="/icons/Home.png" alt=""></a>      
            <a href=""><img src="/icons/Service.png" alt=""></a>
            <a href=""><img src="/icons/Cv.png" alt=""></a>
            <a href=""><img src="/icons/Portfolio.png" alt=""></a>
            <a href=""><img src="/icons/Blog.png" alt=""></a>
            <a href=""><img src="/icons/Contact.png" alt=""></a>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>